### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_players_groupby = purchase_data.groupby("SN")["SN"].count()
total_players = len(total_players_groupby)
total_players

576

In [3]:
type(file_to_load)

str

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = purchase_data['Item Name'].nunique()
average_price = purchase_data['Price'].mean()
number_of_purchases = len(purchase_data)
total_revenue = purchase_data['Price'].sum()

#make a new data frame
data = {'Unique Items': [unique_items],
        'Average Price': [average_price],
        'Number of Pruchases': [number_of_purchases],
        'Total Revenue': [total_revenue]
       } 



summary_data = pd.DataFrame.from_dict(data)
summary_data

   Unique Items  Average Price  Number of Pruchases  Total Revenue
0           179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
player_count = purchase_data.groupby(["SN","Gender"]).count()
player_count.index
gender_list = pd.Series([x[1] for x in player_count.index]).value_counts()
gender_percentage = (gender_list / total_players)*100

#make a data frame 
pd.DataFrame({'Count': gender_list, 'Percentage': gender_percentage})

                       Count  Percentage
Male                     484   84.027778
Female                    81   14.062500
Other / Non-Disclosed     11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
avg_price = purchase_data.groupby("Gender").mean()['Price']
purchase_count = purchase_data.groupby("Gender").count()['Price']
purchase_total = purchase_data.groupby("Gender").sum()['Price']

#make a data frame
data = {'Average Price': avg_price,
        'Purchase Count': purchase_count,
        'Purchase Total': purchase_total,
        'Average Total Per Person': purchase_total/gender_list
        
       } 

summary_data = pd.DataFrame(data)
summary_data

,Average Price,Purchase Count,Purchase Total,Average Total Per Person
Gender,,,,
Female,3.203009,113,361.94,4.468395
Male,3.017853,652,1967.64,4.065372
Other / Non-Disclosed,3.346000,15,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#establish bins for ages
bins =[0,14,21,28,35,42,48] 

# players_age =
purchase_data['age_category'] = pd.cut(x=purchase_data['Age'], bins=bins)

#remove columns you don't need
purchase_data.groupby("age_category").mean()

#clean up
age_demo_df = purchase_data.drop_duplicates(["SN","Age"])
total_count = age_demo_df.groupby("age_category").count()['Age']

# age_percentage = purchase_data.groupby("age_category").()['Age']

#create your data frame 
data = {'Percentage of Population': (total_count / total_players) * 100} 
data

{'Percentage of Population': age_category
 (0, 14]      6.770833
 (14, 21]    38.020833
 (21, 28]    36.979167
 (28, 35]    12.500000
 (35, 42]     5.034722
 (42, 48]     0.694444
 Name: Age, dtype: float64}

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
#establish bins for purchase data by age
purchase_data['age_category'] = pd.cut(x=purchase_data['Age'], bins=bins)

#basic calculation for purchase count, avg. purchase price, avg. purchase total per person
age_purchase_total = purchase_data.groupby("age_category").sum()['Price']
age_average = purchase_data.groupby("age_category").mean()['Price']
age_count =  purchase_data.groupby("age_category").count()['Price']

#create data frame
data = {'Age Purchase Total': age_purchase_total,
        'Age Average': age_average,
        'Age Count': age_count,
        'Average Total Per Person': age_purchase_total/total_players
        
       } 

summary_data = pd.DataFrame(data)
summary_data

,Age Purchase Toatl,Age Average,Age Count,Average Total Per Person
age_category,,,,
"(0, 14]",159.91,3.135490,51,0.277622
"(14, 21]",907.95,3.057071,297,1.576302
"(21, 28]",876.77,3.002637,292,1.522170
"(28, 35]",301.26,3.012600,100,0.523021
"(35, 42]",122.82,3.411667,36,0.213229
"(42, 48]",11.06,2.765000,4,0.019201

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame